@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Train+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Train+One&display=swap");

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 120px);
}

.head .container .row {
  display: flex;
  align-items: center !important;
}

.list-with-dotinsidedot {
  list-style: none;
  padding: 0px;
  margin: 0px;
  padding-left: 30px;
  position: relative;
}
.list-with-dotinsidedot li {
  padding-bottom: 20px !important;
  position: relative;
}
.list-with-dotinsidedot li::before {
  content: "";
  width: 1px;
  top: 0px;
  bottom: 0px;
  left: -20px;
  /* background: #fff; */
  background: linear-gradient(45deg, #ff5f6d, #ffc371, #ff5f6d);
  position: absolute;
}
.list-with-dotinsidedot li:last-child::before {
  display: none;
}
.list-with-dotinsidedot .date {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 5px;
  position: relative;
}
.list-with-dotinsidedot li:first-child .date::before {
  content: "";
  position: absolute;
  width: 4px;
  top: -1px;
  bottom: 0px;
  background: #203058;
  left: 0px;
  margin-left: -22px;
}
.list-with-dotinsidedot li:last-child .date::before {
  content: "";
  position: absolute;
  width: 1px;
  top: 0px;
  bottom: 0px;
  /* background: #fff; */
  background: linear-gradient(45deg, #ff5f6d, #ffc371, #ff5f6d);
  left: 0px;
  margin-left: -20px;
}
.list-with-dotinsidedot .title {
  font-size: 20px;
  color: #ff674d;
  font-weight: 700;
  margin-bottom: 10px;
  position: relative;
  font-family: Inter;
  line-height: normal;
}
.list-with-dotinsidedot .title::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 25px;
  border: 1px solid #ffc371;
  position: absolute;
  left: 0px;
  margin-left: -30px;
  background: #203058;
}
.list-with-dotinsidedot .title::after {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 25px;
  /* background: #fff; */
  background: linear-gradient(45deg, #ff5f6d, #ffc371, #ff5f6d);
  position: absolute;
  left: -1px;
  margin-left: -21px;
  top: 8px;
}
.list-with-dotinsidedot .sub-title {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 6px;
}
.list-with-dotinsidedot p {
  font-size: 16px;
  color: #fff;
}

.container {
  width: 1600px !important;
  margin-left: auto;
  margin-right: auto;
}
.head .flag {
  width: 90px;
  height: 320px;
  background: #203058;
  position: absolute;
  left: 0px;
  top: 0px;
  margin-left: -45px;
}
.head .flag::before {
  content: "";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 45px 45px 0 0;
  border-color: #203058 transparent transparent transparent;
  transform: rotate(0deg);
  position: absolute;
  bottom: -45px;
  left: 0px;
}
.head .flag::after {
  content: "";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 45px 45px 0;
  border-color: transparent #203058 transparent transparent;
  transform: rotate(0deg);
  position: absolute;
  bottom: -45px;
  right: 0px;
}
.head .container {
  padding: 60px 80px;
  background: #ebced3;
  position: relative;
}

.user-img {
  display: flex;
  align-items: center;
}

.user-profile .sub-title {
  color: #203058;
  opacity: 1;
  font-size: 20px;
  margin: 10px 0;
}

.user-name {
  color: #203058;
  font-family: Train One;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  padding: 0px 25px;
}
.contact-details {
  border: 10px solid #203058;
  padding: 20px 25px;
}

.badge {
  border: 1px solid #203058;
  border-radius: 0px;
  padding: 10px 25px;
  margin: 5px 3px;
  color: #3957a3;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.details {
  color: #3957a3;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #203058;
}
.sub-text {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  color: #203058;
}
.box1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  word-break: break-all;
}
.pill {
  margin: 60px 0px 0px 0px;
}

.body .container {
  display: grid;
  padding: 50px 50px 50px 60px;
  background: #203058;
  /* grid-template-columns: auto auto; */
}
/* .main-title {
  color: #ff674d;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  margin: 40px 0 40px 0;
} */

.main-title {
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  margin: 40px 0 40px 0;
  background: linear-gradient(45deg, #ff5f6d, #ffc371, #ff5f6d);
  -webkit-background-clip: text; /* For older webkit browsers */
  background-clip: text;
  color: transparent;
}

.btn-sm {
  padding: 10px 20px;
  border: 3px solid #ffe5d4;
  color: #ffe5d4;
  border-radius: 60px;
  text-decoration: none;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 2.2;
  margin-bottom: 10px;
  margin-left: 10px;
  vertical-align: middle;
  background-color: transparent;
  height: 60px;
  white-space: nowrap !important;
  text-wrap: nowrap !important;
}
.btn-sm:hover {
  padding: 10px 20px;
  border: 3px solid #ff5f6d;
  background-color: #fff;
  color: #b4436c;
  text-wrap: nowrap !important;
  line-height: 2.2;
  white-space: nowrap !important;
  text-wrap: nowrap !important;
}

.nav__links.active {
  padding: 10px 20px;
  border: 3px solid #ff5f6d;
  background-color: #fff;
  color: #ff5f6d;
  text-wrap: nowrap !important;
  line-height: 2.2;
  white-space: nowrap !important;
  text-wrap: nowrap !important;
}


.body .container .col-lg-12 {
  display: flex;
  align-items: center !important;
}
.list-body-anchor {
  text-decoration: 1px solid #00d4ff underline;
  color: #00d4ff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.list-body-anchor:hover {
  color: #fff;
  opacity: 1;
  text-decoration: 2px solid #fff underline;
}

.custom-list1 {
  list-style: none;
  padding-left: 10px;
}

.custom-list1 li {
  position: relative;
  top: 10px;
  margin-bottom: 50px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="11" height="16" viewBox="0 0 11 16" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H6.28571L11 8L6.28571 16H0L4.71429 8L0 0Z" fill="white"/></svg>'); /* Insert your SVG code here */
  background-repeat: no-repeat;
  background-position: left top 4px;
  background-size: 8px auto; /* Adjust the size of the icon as needed */
  text-indent: 20px; /* Make room for the icon */
}

.custom-list1 .title {
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  position: relative;
  font-family: Inter;
  line-height: normal;
}

.custom-list1 .sub-title {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.8;
}
.custom-list1 .list-styling li {
  list-style: disc !important;
  position: relative;
  top: 9px;
  margin-bottom: 10px;
  background-image: none !important;
  background-repeat: no-repeat;
  background-position: left top 10px;
  background-size: 10px auto; /* Adjust the size of the icon as needed */
  text-indent: 0px; /* Make room for the icon */
}
.sub-title {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.8;
}

.body-anchor {
  text-decoration: 2px solid #00d4ff underline;
  color: #00d4ff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.body-anchor:hover {
  color: #fff;
  opacity: 1;
  text-decoration: 2px solid #fff underline;
}
.list-styling {
  color: #fff;
}

.list-with-dotinsidedot .list-styling li {
  list-style: disc !important;
  position: relative;
  color: #fff;
  opacity: 0.8;
  font-weight: 400;
  /* top: 10px; */
  /* margin-bottom: 40px; */
  background-image: none !important;
  background-repeat: no-repeat;
  background-position: left top 10px;
  background-size: 10px auto; /* Adjust the size of the icon as needed */
  text-indent: 0px; /* Make room for the icon */
  padding-bottom: 60px;
}

.list-with-dotinsidedot .list-styling li::before {
  content: "";
  width: 0px;
  top: 0px;
  bottom: 0px;
  left: -20px;
  background: #fff;
  position: absolute;
}

.secondary-text {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.custom-list1 .marg {
  margin-bottom: 80px !important;
}

.custom-list1 .line-high .sub-title {
  line-height: 24px !important;
}

.custom-list1 .marg1 {
  margin-bottom: 100px !important;
}

.custom-list1 .line-high {
  margin-bottom: 30px !important;
}

.custom-list1 .list-styling .list-style {
  margin-bottom: 20px !important;
}

.hr-line {
  border: 1px dashed #9fb9fc;
  width: 100%;
  margin: 10px 0px;
  padding: 0px;
}

.hr-line .body .container {
  padding: 0px !important;
}

.hr{
  border: 0.5px solid #a2acc7;
  /* width: 100%; */
  margin: 10px 0px;
  padding: 0px 20px;
}

/* .img-wid{
    width: 1190px;
}
.img-wid .img{
    max-width: 100%;
} */

.img-container .body .container {
  width: 1190px;
  margin: 10px 20px;
}

.img-wid {
  max-width: 100%;
}

.align-text {
  text-align: center;
  color: #fff;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 23px; /* 88.462% */
  margin: 30px 0 15px 0;
}

.img-desc {
  color: #fff;
  font-family: Inter;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 33px; /* 137.5% */
  margin: 30px 0;
}
.img-desc1 {
  color: #fff;
  font-family: Inter;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 33px; /* 137.5% */
  margin: -20px 0 30px 0;
}
/* .body .container .header{
    top: 0;
    position: relative;
    z-index: 1;
} */

.container .header {
  padding: 10px 0 25px 10px;
  margin-bottom: 10px;
  background-color: #203058 !important;
  position: sticky;
  top: 0px;
  overflow-x: scroll;
  text-wrap: nowrap;
  z-index: 1;
}

.header::-webkit-scrollbar {
  display: none;
}

/* .header1{
  padding: 10px 0 0 10px;
  background-color: #203058 !important;
  position: sticky;
  top: 75px;
  z-index: 1;
} */

.box1-items {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none !important;
  color: #203058;
}

.rect {
  height: 10px;
  background: linear-gradient(45deg, #ff5f6d, #ffc371, #ff5f6d);
  /* background: linear-gradient(45deg, #0099F7, #F11712, #E0E0E0, #7117FF, #F00999); */
  /* background: linear-gradient(45deg, #FF5733, #FF8D33, #FFBB33, #FFD933, #FFF233); */
  /* background: linear-gradient(45deg, #4BB4E6, #73A2A9, #76D7C4); */
  /* background: linear-gradient(45deg, #7A7B7C, #75C4C3); */
  border: 0px solid #333;
}
